* {
    margin: 0;
    padding: 0;
}

.houses {
    height: 600px;
    width: 500px;
    background-color: rgb(56, 56, 56);
}

.house {
    height: fit-content;
    padding: 10px;
    width: 100%;
    background-color: rgb(85, 90, 41);
}
hr {
    background-color: black;
}